<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div
                class="page-title-box d-flex align-items-center justify-content-between"
            >
                <h4 class="mb-0">Settings</h4>
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Settings</li>
                        <!-- <li class="breadcrumb-item active">Sent</li> -->
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <!-- End Justified Tabs -->

    <!-- Single Message -->
    <div class="card col-md-12">
        <div class="row">
            <div class="card-header" *ngIf="isValid == false">
                <div class="alert alert-danger">
                    <ul>
                        <li *ngFor="let item of errorMsg">
                            {{ item }}
                        </li>
                    </ul>
                </div>
            </div>
            <div class="card-body">
                <form (ngSubmit)="submit()">
                    <div class="row">
                        <div class="col-md-6">
                            <h4>MAILGUN Configuration</h4>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-4">
                            <label class="form-label label"
                                >MAILGUN DOMAIN</label
                            >
                        </div>
                        <div class="col-md-6">
                            <input
                                id="user-phone"
                                class="form-control"
                                type="text"
                                placeholder="Mailgun Domain"
                                required
                                [(ngModel)]="fields.mailgun_domain"
                                [ngModelOptions]="{ standalone: true }"
                            />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <label class="form-label label"
                                >MAILGUN SECRET</label
                            >
                        </div>
                        <div class="col-md-6">
                            <input
                                id="user-phone"
                                class="form-control"
                                type="text"
                                placeholder="Mailgun Secret"
                                required
                                [(ngModel)]="fields.mailgun_secret"
                                [ngModelOptions]="{ standalone: true }"
                            />
                        </div>
                       
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <label class="form-label label"
                                >From Name</label
                            >
                        </div>
                        <div class="col-md-6">
                            <input
                                id="user-phone"
                                class="form-control"
                                type="text"
                                placeholder="From Name"
                                required
                                [(ngModel)]="fields.from_name"
                                [ngModelOptions]="{ standalone: true }"
                            />
                        </div>
                       
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <label class="form-label label"
                                >From Email</label
                            >
                        </div>
                        <div class="col-md-6">
                            <input
                                id="user-phone"
                                class="form-control"
                                type="text"
                                placeholder="From Email"
                                required
                                [(ngModel)]="fields.from_email"
                                [ngModelOptions]="{ standalone: true }"
                            />
                        </div>
                       
                    </div>

                    <div class="row mt-3">
                        <div class="col-md-6">
                            <h4>GATEWAY CONFIG</h4>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-4">
                            <label class="form-label label"
                                >Gateway Apikey</label
                            >
                        </div>
                        <div class="col-md-6">
                            <input
                                id="user-phone"
                                class="form-control"
                                type="text"
                                placeholder="Gateway Api Key"
                                required
                                [(ngModel)]="fields.gateway_apikey"
                                [ngModelOptions]="{ standalone: true }"
                            />
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-md-6">
                            <h4>BLAST CONFIG</h4>
                        </div>
                    </div>
                    
                    <!-- Interval SMS -->
                    <div class="row">
                        <div class="col-md-4">
                            <label class="form-label label"
                                >SMS Interval</label
                            >
                        </div>
                        <div class="col-md-2">
                            <input
                                id="user-phone"
                                class="form-control"
                                type="text"
                                placeholder="Interval"
                                required
                                [(ngModel)]="fields.intervalSMS"
                                [ngModelOptions]="{ standalone: true }"
                            />
                        </div>
                        <div class="col-md-6">
                            <div class="form-label label">days</div>
                        </div>
                        <div id="response-phone"></div>
                    </div>
                    <!-- Interval SMS -->

                    <!-- Interval WhatsApp -->
                    <div class="row">
                        <div class="col-md-4">
                            <label class="form-label label"
                                >WhatsApp Interval</label
                            >
                        </div>
                        <div class="col-md-2">
                            <input
                                id="user-phone"
                                class="form-control"
                                type="text"
                                placeholder="Interval"
                                required
                                [(ngModel)]="fields.intervalWhatsApp"
                                [ngModelOptions]="{ standalone: true }"
                            />
                        </div>
                        <div class="col-md-6">
                            <div class="form-label label">days</div>
                        </div>
                        <div id="response-phone"></div>
                    </div>
                    <!-- Interval WhatsApp -->

                    <!-- Interval Email -->
                    <div class="row">
                        <div class="col-md-4">
                            <label class="form-label label"
                                >Email Interval</label
                            >
                        </div>
                        <div class="col-md-2">
                            <input
                                id="user-phone"
                                class="form-control"
                                type="text"
                                placeholder="Interval"
                                required
                                [(ngModel)]="fields.intervalEmail"
                                [ngModelOptions]="{ standalone: true }"
                            />
                        </div>
                        <div class="col-md-6">
                            <div class="form-label label">days</div>
                        </div>
                        <div id="response-phone"></div>
                    </div>
                    <!-- Interval Email -->

                    <hr />

                    <!-- Button Save -->
                    <div class="row">
                        <div class="mb-3">
                            <button
                                class="btn btn-success waves-effect waves-light me-1"
                                type="submit"
                                style="float: right"
                            >
                                Save
                            </button>

                            <!-- <button
                                            type="reset"
                                            class="btn btn-secondary waves-effect"
                                        >
                                            Reset
                                        </button> -->
                        </div>
                    </div>
                    <!-- Button Save -->
                </form>
            </div>
        </div>
    </div>
</div>
