<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div
                class="page-title-box d-flex align-items-center justify-content-between"
            >
                <h4 class="mb-0">History</h4>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <!-- Filter -->
                    <div class="row g-1 mb-3">
                        <div class="col-md-2">
                            <input
                                class="form-control dt-input"
                                type="text"
                                placeholder="Recipient"
                                [(ngModel)]="fields.recipient"
                                (ngModelChange)="updateFilters()"
                            />
                        </div>
                        <div class="col-md-8">
                            <input
                                class="form-control dt-input"
                                type="text"
                                placeholder="Message"
                                [(ngModel)]="fields.message"
                                (ngModelChange)="updateFilters()"
                            />
                        </div>
                        <div class="col-md-2">
                            <select
                                id="user-filter-status"
                                class="select2 form-select dt-select"
                                [(ngModel)]="fields.status"
                                (ngModelChange)="updateFilters()"
                            >
                                <option value="">Status</option>
                                <option *ngFor="let status of allStatus">
                                    {{ status }}
                                </option>
                            </select>
                        </div>
                    </div>
                    <!-- Filter -->

                    <!-- Table -->
                    <div class="table-responsive">
                        <table
                            id="sms"
                            class="table table-bordered dt-responsive nowrap"
                            style="
                                border-collapse: collapse;
                                border-spacing: 0;
                                width: 100%;
                            "
                        >
                            <thead>
                                <tr>
                                    <!-- <th>#</th> -->
                                    <th>Recipient</th>
                                    <th>Message</th>
                                    <th>Status</th>
                                    <th>Modified</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr
                                    *ngFor="
                                        let chat of allChats
                                            | paginate
                                                : {
                                                      itemsPerPage: 10,
                                                      currentPage: p,
                                                      totalItems: totalChats
                                                  };
                                        let i = index
                                    "
                                >
                                    <!-- <td>{{ i + 1 }}</td> -->
                                    <td>{{ chat.recipient }}</td>
                                    <td>{{ chat.message }}</td>
                                    <td>{{ chat.status }}</td>
                                    <!-- <td>{{ chat.modified.timestamp }}</td> -->
                                    <td>{{ !chat.modified.timestamp.$date ? chat.modified.timestamp : chat.modified.timestamp.$date.$numberLong | date }}</td>
                                    <td>
                                        <!-- <a
                                        (click)="edit(sms._id)"
                                        class="btn btn-info btn-sm w-lg"
                                        >Edit</a
                                    > -->
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <!-- <th>#</th> -->
                                    <th>Recipient</th>
                                    <th>Message</th>
                                    <th>Status</th>
                                    <th>Modified</th>
                                    <th>Action</th>
                                </tr>
                            </tfoot>
                        </table>

                        <!-- Spinner Loading -->
                        <div
                            class="spinner-border spinner-border-sm"
                            role="status"
                            *ngIf="loading == true"
                        >
                            <span class="sr-only">Loading...</span>
                        </div>
                        <div style="float: right">
                            <pagination-controls
                                (pageChange)="getPage($event)"
                            ></pagination-controls>
                        </div>
                        <!-- Spinner Loading -->
                    </div>
                    <!-- Table -->
                </div>
            </div>
        </div>
    </div>
</div>
