<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="page-title-box d-flex align-items-center justify-content-between">
                <h4 class="mb-0">Worksheet Follow Up Call</h4>
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
                        <li class="breadcrumb-item"><a href="/worksheet/crm">Worksheet</a>
                        </li>
                        <li class="breadcrumb-item active">Call</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <form>
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="mb-3" style="text-align: center;">
                                    <a id="worksheet-skype-call"
                                        href="{{'skype:' + skype + '?call'}}"
                                       class="btn btn-primary waves-effect waves-light">Skype Call</a>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="mb-3" style="text-align: center;">
                                    <a id="worksheet-whatsapp-call"
                                        href="{{'https://api.whatsapp.com/send?phone=' + whatsapp }}"
                                       class="btn btn-primary waves-effect waves-light" target="_blank">Whatsapp
                                        Call</a>
                                </div>
                            </div>
                            <div class="col-lg-4" *ngIf="auth.type != 'CRM'">
                                <div class="mb-3" style="text-align: center;">
                                    <!-- @if(Session::has("account"))
                                        @if(Session::get("account")->type != 'CRM') -->
                                            <button class="btn btn-primary waves-effect waves-light"
                                                    ng-click="copyPhoneNumber()">Copy Phone Number
                                            </button>
                                        <!-- @endif
                                    @endif -->
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="mb-3">
                                    <label class="form-label">Name</label>
                                    <input
                                            id="name"
                                            class="form-control"
                                            name="name"
                                            type="text"
                                            placeholder="Name"
                                            [(ngModel)]="fields.name"
                                            [ngModelOptions]="{ standalone: true }"
                                        />
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="mb-3">
                                    <label class="form-label">Account Username</label>
                                    <input
                                            id="username"
                                            class="form-control"
                                            name="username"
                                            type="text"
                                            placeholder="username"
                                            [(ngModel)]="fields.account.username"
                                            [ngModelOptions]="{ standalone: true }"
                                        />
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="mb-3">
                                    <label class="form-label">Group</label>
                                    <input
                                        id="group"
                                        class="form-control"
                                        name="group"
                                        type="text"
                                        readonly="readonly"
                                        placeholder="group"
                                        [(ngModel)]="fields.group"
                                        [ngModelOptions]="{ standalone: true }"
                                    />
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="mb-3">
                                    <label class="form-label">Response</label>
                                    <select id="worksheet-status" 
                                            class="form-control"
                                            [(ngModel)]="fields.status"
                                            [ngModelOptions]="{ standalone: true }">
                                        <option value="">Response</option>
                                        <option value="Registered">Registered</option>
                                        <option value="Interested">Interested</option>
                                        <option value="FollowUp">Follow Up</option>
                                        <option value="NotActive">Not Active</option>
                                        <option value="NotPickedUp">Not Picked Up</option>
                                        <option value="NotInterested">Not Interested</option>
                                        <option value="InvalidNumber">Invalid Number</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="mb-3">
                                    <label class="form-label">Remark</label>
                                    <input
                                        id="reference"
                                        class="form-control"
                                        name="reference"
                                        type="text"
                                        placeholder="Remark"
                                        [(ngModel)]="fields.reference"
                                        [ngModelOptions]="{ standalone: true }"
                                    />
                                </div>
                            </div>
                            <!-- <div ng-show="telemarketer.view" class="col-lg-6">
                                <div class="mb-3">
                                    <label class="form-label">Telemarketer</label>
                                    <input class="form-control" type="text" placeholder="Telemarketer"
                                           readonly="readonly" ng-model="telemarketer.value"/>
                                </div>
                            </div>
                            <div ng-show="crm.view" class="col-lg-6">
                                <div class="mb-3">
                                    <label class="form-label">CRM</label>
                                    <input class="form-control" type="text" placeholder="CRM"
                                           readonly="readonly" ng-model="crm.value"/>
                                </div>
                            </div> -->
                            <div class="mb-3">
                                <button
                                    class="btn btn-primary waves-effect waves-light me-1"
                                    (click)="submit()"
                                >
                                <div class="spinner-border spinner-border-sm" role="status" *ngIf="loadingIndicator == true">
                                    <span class="sr-only">Loading...</span>
                                </div>
                                    <span *ngIf="loadingIndicator == false">Update</span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
