<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div
                class="page-title-box d-flex align-items-center justify-content-between"
            >
                <h4 class="mb-0">User Group Entry</h4>
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">User</a></li>
                        <li class="breadcrumb-item"><a href="#">Group</a></li>
                        <li class="breadcrumb-item active">Entry</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header" *ngIf="isValid == false">
                    <div class="alert alert-danger">
                        <ul>
                            <li *ngFor="let item of errorMsg">
                                {{ item }}
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="card-body">
                    <form (ngSubmit)="submit()">
                        <div class="row">
                            <div class="mb-3">
                                <label class="form-label">Name</label>
                                <input
                                    id="user-group-name"
                                    class="form-control"
                                    type="text"
                                    required
                                    [(ngModel)]="fields.name"
                                    [ngModelOptions]="{ standalone: true }"
                                />
                                <div id="response-name"></div>
                            </div>
                            <!-- @if(Session::has("account"))
                                @if(Session::get("account")->nucode == "system") -->
                            <div class="mb-3">
                                <label class="form-label">Nucode</label>
                                <input
                                    id="user-group-nucode"
                                    class="form-control"
                                    type="text"
                                    [(ngModel)]="fields.nucode"
                                    [ngModelOptions]="{ standalone: true }"
                                />
                                <div id="response-nucode"></div>
                            </div>
                            <!-- @endif
                            @endif -->
                            <div class="mb-3">
                                <label class="form-label">Description</label>
                                <input
                                    id="user-group-description"
                                    class="form-control"
                                    type="text"
                                    required
                                    [(ngModel)]="fields.description"
                                    [ngModelOptions]="{ standalone: true }"
                                />
                                <div id="response-description"></div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Website</label>
                                <div class="row mb-3">
                                    <div 
                                        class="col-3"
                                        *ngFor="let item of website">
                                        <input
                                            [checked]="selectedWebsite.indexOf(item._id) > -1"
                                            class="form-check-input"
                                            type="checkbox"
                                            value="{{ item._id }}"
                                            (change)="populateWebsite(item._id, $event.target.checked ? true : false)"
                                        />
                                        <label class="form-label">&nbsp;&nbsp;{{
                                            item.name
                                        }}</label>
                                        
                                    </div>
                                    
                                </div>
                                <!-- <div>
                                    <span
                                        ng-repeat="let item of website"
                                        class="me-3"
                                        ng-click="toggleWebsite(item._id)"
                                    >
                                        <input
                                            class="form-check-input"
                                            type="checkbox"
                                            ng-checked="websites.value.includes(item._id)"
                                        />
                                        <label
                                            class="form-check-label"
                                            ng-bind="item.name"
                                        ></label>
                                    </span>
                                </div> -->
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Status</label>
                                <select
                                    id="user-group-status"
                                    class="form-control select2"
                                    required
                                    [(ngModel)]="fields.status"
                                    [ngModelOptions]="{ standalone: true }"
                                >
                                    <option value="">Status</option>
                                    <option *ngFor="let val of status">
                                        {{ val }}
                                    </option>
                                </select>
                                <div id="response-status"></div>
                            </div>
                            <div class="mb-3">
                                <!-- @if($model->userGroup->_id != null) -->
                                <button
                                    *ngIf="!isAddMode"
                                    class="btn btn-warning waves-effect waves-light me-1 btn-sm"
                                    ng-click="update($event)"
                                >
                                <div class="spinner-border spinner-border-sm" role="status" *ngIf="loadingIndicator == true">
                                    <span class="sr-only">Loading...</span>
                                </div>
                                <span *ngIf="loadingIndicator == false">Edit</span>
                                </button>
                                <!-- @else -->
                                <button
                                    *ngIf="isAddMode"
                                    class="btn btn-success waves-effect waves-light me-1 btn-sm"
                                    ng-click="insert($event)"
                                >
                                <div class="spinner-border spinner-border-sm" role="status" *ngIf="loadingIndicator == true">
                                    <span class="sr-only">Loading...</span>
                                </div>
                                <span *ngIf="loadingIndicator == false">Add New</span>
                                </button>
                                <!-- @endif -->
                                <button
                                    *ngIf="isAddMode"
                                    type="reset"
                                    class="btn btn-secondary waves-effect btn-sm"
                                >
                                    Reset
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
