<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div
                class="page-title-box d-flex align-items-center justify-content-between"
            >
                <h4 class="mb-0">Group List</h4>
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">User</a></li>
                        <li class="breadcrumb-item active">Group</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="row g-1 mb-3">
                        <div class="col-md-2">
                            <input
                                class="form-control dt-input"
                                type="text"
                                placeholder="Name"
                                [(ngModel)]="fields.name"
                                (ngModelChange)="updateFilters()"
                            />
                        </div>
                        <div class="col-md-2">
                            <select
                                id="user-group-filter-website"
                                class="select2 form-select dt-select"
                                data-column="2"
                                data-regex="false"
                            >
                                <option value="">Website</option>
                                <!-- @foreach($model->websites as $value)
                                    <option value="{{$value->_id}}">{{$value->name}}</option>
                                @endforeach -->
                            </select>
                        </div>
                        <div class="col-md-2">
                            <input
                                class="form-control dt-input"
                                type="text"
                                placeholder="Nucode"
                                [(ngModel)]="fields.nucode"
                                (ngModelChange)="updateFilters()"
                            />
                        </div>
                        <div class="col-md-2">
                            <select
                                id="user-group-filter-status"
                                class="select2 form-select dt-select"
                                [(ngModel)]="fields.status"
                                (ngModelChange)="updateFilters()"
                            >
                                <option value="">Status</option>
                                <option *ngFor="let status of allStatus">
                                    {{ status }}
                                </option>
                            </select>
                        </div>
                        <div class="col-md-2"></div>

                        <div class="col-md-2" style="text-align: right">
                            <a
                                href="#"
                                class="btn btn-success waves-effect waves-light"
                            >
                                <i class="mdi mdi-plus me-2"></i> Add New
                            </a>
                        </div>
                    </div>
                    <table
                        id="user-group"
                        class="table table-striped table-bordered dt-responsive nowrap"
                        style="
                            border-collapse: collapse;
                            border-spacing: 0;
                            width: 100%;
                        "
                    >
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Website</th>
                                <th>Nucode</th>
                                <th>Status</th>
                                <th>Modified</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr
                                *ngFor="
                                    let group of allGroups
                                        | tableFilter : filter
                                        | paginate
                                            : {
                                                  itemsPerPage: 10,
                                                  currentPage: p,
                                                  totalItems: totalGroup
                                              };
                                    let i = index
                                "
                            >
                                <td>{{ i + 1 }}</td>
                                <td>{{ group.name }}</td>
                                <td>{{ group.website.names }}</td>
                                <td>{{ group.nucode }}</td>
                                <td>{{ group.status }}</td>
                                <td>
                                    {{
                                        group.modified.timestamp.$date
                                            .$numberLong | date
                                    }}
                                </td>
                                <td>
                                    <a href="#" class="btn btn-info btn-sm w-lg"
                                        >Edit</a
                                    >
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Website</th>
                                <th>Nucode</th>
                                <th>Status</th>
                                <th>Modified</th>
                                <th>Action</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
