<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div
                class="page-title-box d-flex align-items-center justify-content-between"
            >
                <h4 class="mb-0">Email</h4>
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item">
                            <a href="#">Email</a>
                        </li>
                        <li class="breadcrumb-item active">Sent</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="card">
            <div class="card-header" *ngIf="isValid == false">
                <div class="alert alert-danger">
                    <ul>
                        <li *ngFor="let item of errorMsg">
                            {{ item }}
                        </li>
                    </ul>
                </div>
            </div>
            <div class="card-body">
                <!-- <h4 class="card-title">Nav pills</h4>
                <p class="card-title-desc">Example of Nav pills</p> -->
                <ul
                    ngbNav
                    #justifiednav="ngbNav"
                    [activeId]="1"
                    class="nav-pills"
                >
                    <li [ngbNavItem]="1">
                        <a ngbNavLink routerLink="/email/sent">
                            <span class="d-block d-sm-none">
                                <i class="fas fa-home"></i>
                            </span>
                            <span class="d-none d-sm-block"
                                >Single Email</span
                            >
                        </a>
                        <ng-template ngbNavContent>
                            <ng-template
                                [ngTemplateOutlet]="TabContent"
                            ></ng-template>
                        </ng-template>
                    </li>
                    <li [ngbNavItem]="2">
                        <a ngbNavLink routerLink="/email/bulk">
                            <span class="d-block d-sm-none">
                                <i class="far fa-user"></i>
                            </span>
                            <span class="d-none d-sm-block">Bulk Email</span>
                        </a>
                        <ng-template ngbNavContent>
                            <ng-template
                                [ngTemplateOutlet]="TabContent1"
                            ></ng-template>
                        </ng-template>
                    </li>
                </ul>
                <hr />
                <div [ngbNavOutlet]="justifiednav"></div>
            </div>
        </div>
    </div>
    <!-- End Justified Tabs -->

    <!-- Tab Content Single Message -->
    <ng-template #TabContent>
        <!-- Single Message -->
        <div class="row">
            <div class="card-body">
                <form (ngSubmit)="submit()">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="mb-3">
                                <label class="form-label">From Name</label>
                                <div class="row">
                                    <div class="col-md-12">
                                        <input
                                            id="user-from_name"
                                            class="form-control"
                                            type="text"
                                            placeholder="John"
                                            required
                                            [(ngModel)]="fields.from_name"
                                            [ngModelOptions]="{
                                                standalone: true
                                            }"
                                            [readOnly]="this.isSubmit"
                                        />
                                    </div>
                                </div>
                                <div id="response-from_name"></div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="mb-3">
                                <label class="form-label">To Email</label>
                                <div class="row">
                                    <div class="col-md-12">
                                        <input
                                            id="user-email"
                                            class="form-control"
                                            type="text"
                                            placeholder="John@mail.com"
                                            required
                                            [(ngModel)]="fields.email"
                                            [ngModelOptions]="{
                                                standalone: true
                                            }"
                                            [readOnly]="this.isSubmit"
                                        />
                                    </div>
                                </div>
                                <div id="response-email"></div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="mb-3">
                                <label class="form-label">Subject</label>
                                <div class="row">
                                    <div class="col-md-12">
                                        <input
                                            id="user-subject"
                                            class="form-control"
                                            type="text"
                                            placeholder="Enter Subject"
                                            required
                                            [(ngModel)]="fields.subject"
                                            [ngModelOptions]="{
                                                standalone: true
                                            }"
                                            [readOnly]="this.isSubmit"
                                        />
                                    </div>
                                </div>
                                <div id="response-subject"></div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="mb-3">
                                <label class="form-label">Message</label>
                                <textarea
                                    class="form-control"
                                    placeholder="Enter your message"
                                    required
                                    [(ngModel)]="fields.message"
                                    [ngModelOptions]="{
                                        standalone: true
                                    }"
                                    cols="20"
                                    rows="5"
                                    [readOnly]="this.isSubmit"
                                ></textarea>
                                <div id="response-message"></div>
                            </div>
                        </div>

                        <div class="mb-3">
                            <button
                                class="btn btn-success waves-effect waves-light me-1"
                                type="submit"
                                style="float: right"
                            >
                                Send
                            </button>

                            <!-- <button
                                        type="reset"
                                        class="btn btn-secondary waves-effect"
                                    >
                                        Reset
                                    </button> -->
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- Single Message -->
    </ng-template>

    <!-- Tab Content Bulk Message-->
    <ng-template #TabContent1> </ng-template>

    <!-- History -->
    <app-history></app-history>
    <!-- History -->
</div>
