.download-template{
    margin: 10px 0px 10px 0px;
    text-align: right;
}

.dropzone{
    padding: 0px 10px 0px 10px !important;
    border: none !important;
}

.phone-upload{
    margin-bottom: -50px;
}