<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="page-title-box d-flex align-items-center justify-content-between">
                <h4 class="mb-0">Worksheet</h4>
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Worksheet</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <form>
                        <div class="row">
                            <!-- @if($model->websiteId != null) -->
                                <!-- <div class="col-lg-4">
                                    <div class="mb-3" style="text-align: center;">
                                        <a ng-show="contact.phone.view" id="worksheet-skype-call"
                                           class="btn btn-primary waves-effect waves-light">Skype Call</a>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="mb-3" style="text-align: center;">
                                        <a ng-show="contact.whatsapp.view" id="worksheet-whatsapp-call"
                                           class="btn btn-primary waves-effect waves-light" target="_blank">Whatsapp
                                            Call</a>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="mb-3" style="text-align: center;">
                                        <button class="btn btn-primary waves-effect waves-light"
                                                ng-click="copyPhoneNumber()">Copy Phone Number
                                        </button>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label class="form-label">Name</label>
                                        <input class="form-control" type="text" placeholder="Name"
                                               ng-model="name.value"/>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label class="form-label">Account Username</label>
                                        <input class="form-control" type="text" placeholder="Account Username"
                                               ng-model="account.username.value"/>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label class="form-label">Group</label>
                                        <input class="form-control" type="text" placeholder="Group"
                                               readonly="readonly" ng-model="group.value"/>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label class="form-label">Response</label>
                                        <select id="worksheet-status" class="form-control select2"
                                                data-scope="status.value">
                                            <option value="">Response</option>
                                            <option value="Registered">Registered</option>
                                            <option value="Interested">Interested</option>
                                            <option value="FollowUp">Follow Up</option>
                                            <option value="NotActive">Not Active</option>
                                            <option value="NotPickedUp">Not Picked Up</option>
                                            <option value="NotInterested">Not Interested</option>
                                            <option value="InvalidNumber">Invalid Number</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label class="form-label">Remark</label>
                                        <input class="form-control" type="text" placeholder="Remark"
                                               ng-model="reference.value"/>
                                    </div>
                                </div>
                                <div ng-show="telemarketer.view" class="col-lg-6">
                                    <div class="mb-3">
                                        <label class="form-label">Telemarketer</label>
                                        <input class="form-control" type="text" placeholder="Telemarketer"
                                               readonly="readonly" ng-model="telemarketer.value"/>
                                    </div>
                                </div>
                                <div ng-show="crm.view" class="col-lg-6">
                                    <div class="mb-3">
                                        <label class="form-label">CRM</label>
                                        <input class="form-control" type="text" placeholder="CRM"
                                               readonly="readonly" ng-model="crm.value"/>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <button class="btn btn-primary waves-effect waves-light me-1"
                                            ng-click="update($event)">Next
                                    </button>
                                </div> -->
                            <!-- @else -->
                                <h5 class="mb-3" style="text-align: center;">
                                    Select one of website below
                                </h5>
                                <div ng-repeat="(key, value) in websites.option" class="col-2 mb-3">
                                    <button class="btn btn-primary waves-effect waves-light me-1"
                                            ng-click="start(value._id, $event)" ng-bind="value.name">
                                    </button>
                                </div>
                            <!-- @endif -->
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>