<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="page-title-box d-flex align-items-center justify-content-between">
                <h4 class="mb-0">Database Import History</h4>
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Database</a></li>
                        <li class="breadcrumb-item"><a href="#">Import</a>
                        </li>
                        <li class="breadcrumb-item active">History</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <form class="row g-1 mb-3" method="POST" action="">
                        <div class="col-md-10"></div>
                        <div class="col-md-2" style="text-align: right;">
                        </div>
                    </form>
                    <div class="table-responsive">
                        <table id="database-import-history" class="table table-bordered dt-responsive nowrap"
                            style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                            <thead>
                            <tr>
                                <!-- <th>#</th> -->
                                <th>File Name</th>
                                <th>Website</th>
                                <th>Group</th>
                                <th>Total</th>
                                <th>Status</th>
                                <th>Importer</th>
                                <th>Modified</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr
                                    *ngFor="
                                        let item of dataHistory
                                            | paginate
                                                : {
                                                    itemsPerPage: 10,
                                                    currentPage: p,
                                                    totalItems: totalData
                                                };
                                        let i = index
                                    "
                                >
                                    <!-- <td>{{ i + 1 }}</td> -->
                                    <td>{{ item.file }}</td>
                                    <td>{{ item.website.name }}</td>
                                    <td>{{ item.group.name }}</td>
                                    <td>{{ item.row }}</td>
                                    <td>{{ item.status }}</td>
                                    <td>{{ item.created.user.name }}</td>
                                    <td>
                                        {{
                                            !item.modified.timestamp.$date ?  item.modified.timestamp : item.modified.timestamp.$date.$numberLong | date
                                        }}
                                    </td>
                                    <td>
                                        <button
                                            ng-confirm-click="Are you sure to delete this record?"
                                            (click)="delete(item._id, item.name)"
                                            class="btn btn-outline-secondary btn-sm"
                                        >
                                        <i class="bx uil-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                            <tr>
                                <!-- <th>#</th> -->
                                <th>File Name</th>
                                <th>Website</th>
                                <th>Group</th>
                                <th>Total</th>
                                <th>Status</th>
                                <th>Importer</th>
                                <th>Modified</th>
                                <th>Action</th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                    <div class="spinner-border spinner-border-sm" role="status" *ngIf="loading == true">
                        <span class="sr-only">Loading...</span>
                    </div>
                    <div style="float:right">
                        <pagination-controls (pageChange)="getPage($event)"></pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>