<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div
                class="page-title-box d-flex align-items-center justify-content-between"
            >
                <h4 class="mb-0">Website</h4>
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Website</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <form class="row g-1 mb-3" method="POST" action="">
                        <div class="col-md-2">
                            <input
                                class="form-control dt-input"
                                name="website-filter-name"
                                type="text"
                                placeholder="Name"
                                [(ngModel)]="fields.name"
                                (ngModelChange)="updateFilters()"
                            />
                        </div>
                        <div class="col-md-2">
                            <input
                                class="form-control dt-input"
                                name="website-filter-nucode"
                                type="text"
                                placeholder="Nucode"
                                [(ngModel)]="fields.nucode"
                                (ngModelChange)="updateFilters()"
                            />
                        </div>
                        <div class="col-md-2">
                            <select
                                id="website-filter-status"
                                class="select2 form-select dt-select"
                                name="website-filter-status"
                                [(ngModel)]="fields.status"
                                (ngModelChange)="updateFilters()"
                            >
                                <option value="">Status</option>
                                <option *ngFor="let status of statusFilter">
                                    {{ status }}
                                </option>
                            </select>
                        </div>
                        <div class="col-md-4"></div>

                        <div class="col-md-2" style="text-align: right">
                            <a
                                (click)="create()"
                                class="btn btn-success waves-effect waves-light"
                            >
                                <i class="mdi mdi-plus me-2"></i> Add New
                            </a>
                        </div>
                    </form>
                    <table
                        id="website"
                        class="table table-bordered dt-responsive nowrap"
                        style="
                            border-collapse: collapse;
                            border-spacing: 0;
                            width: 100%;
                        "
                    >
                        <thead>
                            <tr>
                                <!-- <th>#</th> -->
                                <th>Name</th>
                                <th>Nucode</th>
                                <th>Status</th>
                                <th>Modified</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr
                                *ngFor="
                                    let website of allWebsites
                                        | paginate
                                            : {
                                                  itemsPerPage: 10,
                                                  currentPage: p,
                                                  totalItems: totalWebsite
                                              };
                                    let i = index
                                "
                            >
                                <!-- <td>{{ i + 1 }}</td> -->
                                <td>{{ website.name }}</td>
                                <td>{{ website.nucode }}</td>
                                <td>{{ website.status }}</td>
                                <td>
                                    {{ !website.modified.timestamp.$date ?  website.modified.timestamp : initializeTimestamp(website.modified.timestamp.$date.$numberLong) }}
                                </td>
                                <td>
                                    <a
                                        (click)="edit(website._id)"
                                        class="btn btn-outline-secondary btn-sm"
                                        ><i class="bx uil-edit"></i></a
                                    >
                                    &nbsp;
                                    <button
                                        ng-confirm-click="Are you sure to delete this record ?"
                                        (click)="delete(website._id, website.name)"
                                        class="btn btn-outline-secondary btn-sm"
                                    >
                                    <i class="bx uil-trash"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <!-- <th>#</th> -->
                                <th>Name</th>
                                <th>Nucode</th>
                                <th>Status</th>
                                <th>Modified</th>
                                <th>Action</th>
                            </tr>
                        </tfoot>
                    </table>
                    <div class="spinner-border spinner-border-sm" role="status" *ngIf="loading == true">
                        <span class="sr-only">Loading...</span>
                    </div>
                    <div style="float:right">
                        <pagination-controls (pageChange)="getPage($event)"></pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
